.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

body {
    /*background-color: #C0C0C0;*/
    background-image: url("../imgs/grey-background.jpg");
}

@media screen and (max-width:768px) {
        .card-hero-icon-selected {
        width: 24px;
        height: 30px;
        background: #83F52C;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        border-color: #83F52C;
        border-style: solid;
        border-width: 2px;
        margin: 2px;
        display: inline-block;
    }

    .card-hero-icon {
      width: 24px;
      height: 30px;
      background: #ccc;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin: 2px;
      display: inline-block;
    }

    .img-circle-container {
        width: 24px;
        height: 30px;
        margin: 2px;
        display: inline-block;
        vertical-align: top;
    }

    .img-circle-card {
        position: relative;
        left: 2px;
        top: 5px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: #ccc;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        display: inline-block;
    }
}

@media screen and (min-width:768px) {
      .card-hero-icon-selected {
        width: 48px;
        height: 60px;
        background: #83F52C;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        border-color: #83F52C;
        border-style: solid;
        border-width: 4px;
        margin: 2px;
        display: inline-block;
    }

    .card-hero-icon {
      width: 48px;
      height: 60px;
      background: #ccc;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin: 2px;
      display: inline-block;
    }

    .img-circle-container {
        width: 48px;
        height: 60px;
        margin: 2px;
        display: inline-block;
        vertical-align: top;
    }

    .img-circle-card {
        position: relative;
        left: 4px;
        top: 10px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        background: #ccc;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        display: inline-block;
    }
}


h2 {
  color: #FAA02E;
}

#placementSliderDiv {
    width: 40%;
    display: inline-block;
}

.hero-role-group {
    display: inline-block;
}

.insufficent-data-img {
    width: 637px;
    height: 300px;
    background: #ccc;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    display: inline-block;
}

/* Graphs CSS */
.data-row {
    background: white none repeat scroll 0 0;
    border-radius: 15px;
    height: 305px;
    margin-bottom: 10px;
    overflow: hidden;
    transform: skewX(25rad) translate(15px, 0px);
    width: 100%;
}

.card-mask {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    width: 10%;
}

.card-hero-for-graph {
    width: 5%;
    height: 100%;
    background: #ccc;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    display: inline-block;
    transform: skewX(-25rad) translate(-30px, 0px);
    width: 150%;
}

.graph-div {
    display: inline-block;
    height: 100%;
    transform: skewX(-25rad) translate(5%, 0px);
    width: 85%;
}

