<!DOCTYPE html>

<html ng-app="app" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>OWE Leaderboard</title>

    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./lib/highcharts-ng/dist/highcharts-ng.css">
    <link rel="stylesheet" type="text/css" href="./lib/angularjs-slider/dist/rzslider.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <script src="./lib/angular/angular.js"></script>
    <script src="./lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="./lib/angular-google-chart/ng-google-chart.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="./lib/highcharts-ng/dist/highcharts-ng.min.js"></script>
    <script src="./lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="./lib/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="./profile_engine.js"></script>

</head>
<body ng-controller="GenericChartCtrl" data-ng-init="init()">
<div class="container-fluid">
    <h2>{{selectedClanMember}} Profile</h2>
    <label>Clan Members:</label>
    <select name="clanMemberSelect" id="clanMemberSelect" ng-model="selectedClanMember" ng-change="loadPlayerCharts();">
        <option ng-repeat="member in clanMembers" value="{{member}}">{{member}}</option>
    </select>
    <label>See above average values: <input type="checkbox" ng-model="aboveAverageValues" ng-change="loadPlayerCharts();"></label><br />
    <div>
        <div ng-repeat="h in heroes" id="{{h.id}}_chart"></div>
    </div>
</div>
</body>
</html>
